@page
@model FacilitiesRequisition.Pages.CreateOrganizations.IndexModel

@{
    ViewData["Title"] = "Create an Organization";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body style="background: #EEEEEE">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <h1 class="mb-4">@Model.PageTitle</h1>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group mt-2">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control mt-1"/>
                        <span asp-validation-for="Name" class="text-danger mt-1"></span>
                    </div>
                    
                    <div class="form-group mt-2">
                        <label asp-for="Adviser" class="control-label"></label>
                        <input asp-for="Adviser" class="form-control mt-1"/>
                        <span asp-validation-for="Adviser" class="text-danger mt-1"></span>
                    </div>
                    
                    <div class="form-group mt-2">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control mt-1"/>
                        <span asp-validation-for="Description" class="text-danger mt-1"></span>
                    </div>

                    <div class="form-group mt-4 mb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" value="Cancel" class="btn btn-outline-secondary" style="width: 100%" asp-page-handler="BackToDashboard"/>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Save" class="btn btn-primary" style="width: 100%;"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br/>
                                <input type="reset" value="Clear All Fields" class="btn btn-outline-danger" style="width: 100%;"/>
                            </div>               
                        </div>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</body>
</html>