@page
@model FacilitiesRequisition.Pages.OfficerRoles.DeleteModel

@{
    ViewData["Title"] = "Delete Officer Role";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #EEEEEE">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-8 rounded-rectangle">
                <h2>Delete officer role</h2>
                
                <text>Are you sure you want to delete the selected officer role "@Model.OfficerRole.Position" for this user?
                    This will also result to the deletion of assigned organization. This cannot be undone.</text>
                
                <form method="post">
                    <br/>
                    <input type="hidden" asp-for="OfficerRole.Id" />
                    @*<a class="btn btn-outline-primary" asp-page="./Index" asp-route-id="@Model.Officer.Id">Go back</a>*@
                    <input type="submit" value="Delete officer role" class="btn btn-primary"/>
                </form>
            </div>
        </div>    
    </div>
</body>
</html>