html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nav-collapse .li {
  list-style-type: none;
}

html {
  
}

body {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.hover-item {
  transition: background-color 0.3s;
}

.hover-item:hover {
  background-color: #ebebeb;
}

.validation-summary-errors ul {
  list-style-type: none;
  padding: 0;
}


.clickable-nav {
  cursor: pointer;
  transition: background-color 0.3s;
}

.clickable-nav:hover {
  background-color: #0047AB;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s;
}

.clickable-row:hover {
  background-color: #ebebeb;
}

.clickable-row td {
  border: none;
}

.rounded-rectangle {
  border-radius: 20px;
  background: #ffffff;
  padding: 40px;
}

td, th {
  text-align: center;
  height: 50px;
  vertical-align: middle;
}

.vertical-line::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  width: 1px;
  height: 20px; /* Adjust height as needed */
  background-color: #000; /* Adjust color as needed */
}