html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nav-collapse .li {
  list-style-type: none;
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.clickRow {
  cursor: pointer;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 8px;
  transition: background-color 0.3s;
}

.clickRow:hover {
  background-color: #ebebeb;
}

.clickRow td {
  border: none;
}

.rounded-rectangle {
  border-radius: 20px;
  background: #ffffff;
  padding: 40px;
}

.vertical-line::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  width: 1px;
  height: 20px; /* Adjust height as needed */
  background-color: #000; /* Adjust color as needed */
}