@page
@using FacilitiesRequisition.Models.Administrators
@model FacilitiesRequisition.Pages.AdministratorRoles.CreateAdminRolesModel

@{
    ViewData["Title"] = "Add Administrator Roles";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #EEEEEE">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <h2>Add administrator role</h2>
                
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Position" class="control-label"></label>
                        <select asp-for="Position" asp-items="Html.GetEnumSelectList<AdministratorPosition>()" class="form-control mt-1"></select>
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group" style="float: right">
                        <br/>
                        <input type="submit" value="Go back" class="btn btn-outline-primary"asp-page-handler="BackToIndex" />
                        <input type="submit" value="Add role" class="btn btn-primary"/>
                    </div>
                </form>

                
            </div>
        </div>
    </div>
</body>
</html>