@page
@using FacilitiesRequisition.Models.Administrators
@model FacilitiesRequisition.Pages.AdministratorRoles.IndexModel

@{
    ViewData["Title"] = "Administrator Roles";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #EEEEEE">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-5 rounded-rectangle">
                <h2>Active user roles for @Model.Admin.FirstName</h2>
                
                @foreach (var role in Model.AdministratorRole) {
                    <div class="clickable-row">
                        @if (role.Position == AdministratorPosition.Dean) {
                            <text>Dean</text>
                        } else if (role.Position == AdministratorPosition.AssistantDean) {
                            <text>Assistant Dean</text>
                        } else if (role.Position == AdministratorPosition.StudentAffairsDirector) {
                            <text>Student Affairs</text>
                        } else if (role.Position == AdministratorPosition.SuperAdmin) {
                            <text>Super Administrator</text>
                        } else {
                          <text>@role.Position</text>  
                        }
                        
                        <a class="btn btn-outline-danger" asp-page="./DeleteAdminRoles" asp-route-id="@role.Id">
                            <i class="bi bi-trash-fill" style="font-size: 17px"></i>
                            <text style="vertical-align: center; align-items: center">Delete</text>
                        </a>
                    </div>
                }
                
                <form method="post">
                    <div class="form-group mt-4 mb-2">
                        <div class="col-md-auto" style="float: right">
                            <input type="submit" value="Go back" class="btn btn-outline-primary" asp-page-handler="BackToUserIndex" />
                            <a class="btn btn-primary" asp-page="CreateAdminRoles" asp-route-id="@Model.Admin.Id">Add new role</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>