@page
@model FacilitiesRequisition.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit user details";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #EEEEEE">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <h2>Edit user details</h2>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="User.Id"/>

                    <div class="form-group">
                        <label asp-for="User.Type" class="control-label"></label>
                        <select asp-for="User.Type" class="form-control"></select>
                        <span asp-validation-for="User.Type" class="text-danger"></span>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.FirstName" class="control-label"></label>
                        <input asp-for="User.FirstName" class="form-control"/>
                        <span asp-validation-for="User.FirstName" class="text-danger"></span>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.MiddleName" class="control-label"></label>
                        <input asp-for="User.MiddleName" class="form-control"/>
                        <span asp-validation-for="User.MiddleName" class="text-danger"></span>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.LastName" class="control-label"></label>
                        <input asp-for="User.LastName" class="form-control"/>
                        <span asp-validation-for="User.LastName" class="text-danger"></span>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.Username" class="control-label"></label>
                        <input asp-for="User.Username" class="form-control"/>
                        <span asp-validation-for="User.Username" class="text-danger"></span>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.PasswordHash" class="control-label"></label>
                        <input asp-for="User.PasswordHash" class="form-control"/>
                        <span asp-validation-for="User.PasswordHash" class="text-danger"></span>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.PasswordSalt" class="control-label"></label>
                        <input asp-for="User.PasswordSalt" class="form-control"/>
                        <span asp-validation-for="User.PasswordSalt" class="text-danger"></span>
                        <br/>
                    </div>

                    <div class="form-group" style="float: right">
                        <br/>
                        <input type="submit" value="Go back" class="btn btn-outline-primary" asp-page-handler="BackToIndex"/>
                        <input type="submit" value="Update user details" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>