@page
@model FacilitiesRequisition.Pages.Users.EditPasswordModel

@{
    ViewData["Title"] = "Edit user details";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #d7d9e5; font-family: 'DM Sans', sans-serif">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <h2 style="font-weight: bold">Update your password</h2>
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span class="text-danger">@Model.NotSamePassword</span>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" id="passwordField" class="form-control" type="password"/>
                        <label>
                            <input type="checkbox" onclick="togglePassword()"> Show Password
                        </label>
                        <br/>
                        <span class="text-danger">@Model.NullPassword</span>
                        <br/>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="RepeatPassword" class="control-label">Repeat Password</label>
                        <input asp-for="RepeatPassword" id="repeatPasswordField" class="form-control" type="password"/>
                        <label>
                            <input type="checkbox" onclick="toggleRepeatPassword()"> Show Password
                        </label>
                        <br/>
                        <span class="text-danger">@Model.NullPassword</span>
                        <br/>
                    </div>

                    <div class="form-group" style="float: right">
                        <br/>
                        <input type="hidden" name="userId" value="@Model.User.Id" />
                        
                        <a class="btn btn-outline-primary" href="/Users/ViewDetails?id=@Model.User.Id">Go back</a>
                        <input type="submit" value="Update password" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>