@page
@model FacilitiesRequisition.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit user details";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #d7d9e5; font-family: 'DM Sans', sans-serif">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <h2 style="font-weight: bold">Edit user details</h2>
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="User.Id"/>
                    

                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control"/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <br/>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="RepeatPassword" class="control-label">Repeat Password</label>
                        <input asp-for="RepeatPassword" class="form-control"/>
                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        <br/>
                    </div>
                    
                    <div>
                        <label>Digital Signature</label>
                    </div>
                    
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        @if (Model.SignaturePath != null) {
                            <img id="signaturePreview" src="@Model.SignaturePath" alt="Signature" style="max-width: 1.25in; max-height: 1.25in;">
                        } else {
                            <img id="signaturePreview" src="@Url.Content("~/images/stockPhoto.png")" alt="Default Signature" style="max-width: 1.25in; max-height: 1.25in;">
                        }
                        <div style="margin-bottom: 10px;"></div>
                        @Html.TextBoxFor(Model => Model.Signature, new { @class = "form-control", type = "file", style = "margin:auto;", accept = ".png,.jpg", onchange = "previewImage(event)" })
                    </div>

                    <div class="form-group" style="float: right">
                        <br/>
                        <input type="submit" value="Go back" class="btn btn-outline-primary" asp-page-handler="BackToIndex"/>
                        <input type="submit" value="Update user details" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>