@page
@model FacilitiesRequisition.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="background: #d7d9e5; font-family: 'DM Sans', sans-serif">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <form method="post" enctype="multipart/form-data">
                    <h2 style="font-weight: bold">Your Profile</h2>

                    <div class="form-group">
                        <label asp-for="User.Username" class="control-label"></label>
                        <input asp-for="User.Username" class="form-control" disabled/>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.Type" class="control-label">Type of User</label>
                        <input asp-for="User.Type" class="form-control" disabled/>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.FirstName" class="control-label">First Name</label>
                        <input asp-for="User.FirstName" class="form-control" disabled/>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.MiddleName" class="control-label">Middle Name</label>
                        <input asp-for="User.MiddleName" class="form-control" disabled/>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.LastName" class="control-label">Last Name</label>
                        <input asp-for="User.LastName" class="form-control" disabled/>
                        <br/>
                    </div>
                    
                    <div>
                        <label>Digital Signature</label>
                    </div>
                    
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        @if (Model.SignaturePath != null) {
                            <img id="signaturePreview" src="@Model.SignaturePath" alt="Signature" style="max-width: 1.25in; max-height: 1.25in;">
                        }
                        else {
                            <img id="signaturePreview" src="@Url.Content("~/images/stockPhoto.png")" alt="Default Signature" style="max-width: 1.25in; max-height: 1.25in;">
                        }
                        <div style="margin-bottom: 10px;"></div>
                    </div>

                    <div class="form-group" style="float: right">
                        <br/>
                        <a class="btn btn-outline-primary" onclick="goBack()">Go back</a>
                        
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal_@Model.User.Id">
                            Edit details
                        </button>
                    </div>
                </form>
                
                <script>
                    function goBack() {
                        var referringPage = getQueryParam('ref');
                
                        if (referringPage) {
                            if (referringPage.includes('/Dashboard')) {
                                window.location.href = referringPage;
                            } else {
                                window.history.go(-1);
                            }
                        } else {
                            // Fallback to default page if referringPage is not set
                            window.location.href = '/Dashboard'; // Replace with the actual URL of the Dashboard page
                        }
                    }
                
                    function getQueryParam(param) {
                        var urlParams = new URLSearchParams(window.location.search);
                        return urlParams.get(param);
                    }
                </script>
            </div> 
            
            <div class="modal fade" id="editModal_@Model.User.Id" tabindex="-1" role="dialog" aria-labelledby="editModalLabel_@Model.User.Id" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel_@Model.User.Id">Edit details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="btn-column">
                                <div>
                                    <a class="btn btn-outline-secondary" href="/Users/EditUsername?id=@Model.User.Id&ref=@Request.Path">
                                        <i class="bi bi-person-fill-down" style="font-size: 25px"></i>
                                        Edit username
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-secondary" href="/Users/EditPassword?id=@Model.User.Id&ref=@Request.Path">
                                        <i class="bi bi-chat-right-quote" style="font-size: 25px"></i>
                                        Edit password
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-secondary" href="/Users/EditSignature?id=@Model.User.Id&ref=@Request.Path">
                                        <i class="bi bi-person-vcard" style="font-size: 25px"></i>
                                        Edit signature
                                    </a>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>