@page
@model FacilitiesRequisition.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #d7d9e5; font-family: 'DM Sans', sans-serif">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <form method="post" enctype="multipart/form-data">
                    <h2 style="font-weight: bold">Your Profile</h2>

                    <div class="form-group">
                        <label asp-for="User.Username" class="control-label"></label>
                        <input asp-for="User.Username" class="form-control" disabled/>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.Type" class="control-label">Type of User</label>
                        <input asp-for="User.Type" class="form-control" disabled/>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.FirstName" class="control-label">First Name</label>
                        <input asp-for="User.FirstName" class="form-control" disabled/>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.MiddleName" class="control-label">Middle Name</label>
                        <input asp-for="User.MiddleName" class="form-control" disabled/>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="User.LastName" class="control-label">Last Name</label>
                        <input asp-for="User.LastName" class="form-control" disabled/>
                        <br/>
                    </div>
                    
                    <div>
                        <label>Digital Signature</label>
                    </div>
                    
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        @if (Model.SignaturePath != null) {
                            <img id="signaturePreview" src="@Model.SignaturePath" alt="Signature" style="max-width: 1.25in; max-height: 1.25in;">
                        }
                        else {
                            <img id="signaturePreview" src="@Url.Content("~/images/stockPhoto.png")" alt="Default Signature" style="max-width: 1.25in; max-height: 1.25in;">
                        }
                        <div style="margin-bottom: 10px;"></div>
                    </div>

                    <div class="form-group" style="float: right">
                        <br/>
                        <input type="submit" value="Go back" class="btn btn-outline-primary" asp-page-handler="BackToIndex"/>
                        <a class="btn btn-primary" asp-page="/Users/EditDetails" asp-route-id="@Model.UserInfo">Edit details</a>
                    </div>
                    
                </form>
            </div>            
        </div>
    </div>
</body>
</html>