@page
@model FacilitiesRequisition.Pages.ManageOrganizations.ViewDetails

@{
    ViewData["Title"] = "Organization Details";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>