@page
@model FacilitiesRequisition.Pages.FacultyRoles.DeleteModel

@{
    ViewData["Title"] = "Delete faculty role";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #EEEEEE">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-8 rounded-rectangle">
                <h2>Delete faculty role</h2>
                
                <text>Are you sure you want to delete the selected faculty role for this user?
                    This cannot be undone.</text>
                
                <form method="post">
                    <input type="hidden" asp-for="FacultyRole.Id" />
                    <a class="btn btn-outline-primary" asp-page="./Index">Go back</a>
                    <input type="submit" value="Delete" class="btn btn-primary" />
                </form>
            </div>            
        </div>
    </div>
</body>
</html>