@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>We are committed to protecting the privacy of our users and details entered here in the system. 
    This privacy policy explains how we collect, use, and protect personal information 
    that we receive from users of our system.</p>

<br>
<h1>Collection of Information</h1>
<p>We may collect personal information from users when they register or use our system.
    This information may include their name, email address, contact information, and other details that they voluntarily provide to us.</p>

<br>
<h1>Use of Information</h1>
<p>We use the information that we collect to provide and improve our services to users.
    This includes processing requests, responding to inquiries, and improving the functionality and user experience of our system.</p>

<br>
<h1>Protection of Information</h1>
<p>We take reasonable measures to protect the information that we collect from users.
    This includes using industry-standard security measures to prevent unauthorized access to or disclosure of personal information.</p>

<br>
<h1>Sharing of Information</h1>
<p>We do not share personal information with third parties without the user's explicit consent, 
    except when required by law or to protect our rights and interests.</p>

<br>
<h1>Changes to Policy</h1>
<p>We reserve the right to update or modify this privacy policy at any time without prior notice. 
    Any changes to the policy will be posted on our system and will take effect immediately upon posting.</p>

<br>
<h1>Contact Us</h1>
<p>If you have any questions or concerns about our privacy policy or how we collect, use, and protect personal information, 
    please contact us at [emailAdd1] or [emailAdd2]</p>