@page
@model FacilitiesRequisition.Pages.Organizations.CreateModel

@{
    ViewData["Title"] = "Create Organization";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
</head>

<body style="background: #d7d9e5; font-family: 'DM Sans', sans-serif">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <h2 class="mb-4" style="font-weight: bold">@Model.PageTitle</h2>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Organization.Name" class="control-label"></label>
                        <input asp-for="Organization.Name" class="form-control"/>
                        <span asp-validation-for="Organization.Name" class="text-danger"></span>
                        <br/>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Organization.Adviser" class="control-label"></label>
                        <select asp-for="AdviserId" asp-items="Model.Administrators" class="form-control"></select>
                        <span asp-validation-for="AdviserId" class="text-danger"></span>
                        <br/>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Organization.TotalBudget" class="control-label"></label>
                        <input asp-for="Organization.TotalBudget" type="number" class="form-control"/>
                        <span asp-validation-for="Organization.TotalBudget" class="text-danger"></span>
                        <br/>
                    </div>
                    
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Organization.IsStudentCouncil"/> @Html.DisplayNameFor(model => model.Organization.IsStudentCouncil)
                        </label>
                    </div>

                    <div class="form-group" style="float: right">
                        <br/>
                        <input type="submit" value="Go back" class="btn btn-outline-primary" asp-page-handler="BackToIndex"/>
                        <input type="submit" value="Create organization" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<div>
    <a asp-page="Index">Back to List</a>
</div>

