@model FacilitiesRequisition.Pages.Shared._NavigationBarModel

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - Facilities Requisition</title>
  <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/FacilitiesRequisition.styles.css" asp-append-version="true"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>

<body style="background: #d7d9e5; font-family: 'DM Sans', sans-serif">
<nav class="navbar navbar-expand-md fixed-top">
  <div class="full-width-container">
    <div class="row">
      <div class="col-2">
        <div class="well rounded-rectangle" style="height: 70px; padding: 0 0 0 0; margin-right: 5px; margin-left: 5px; display: flex; justify-content: center; align-items: center;">
          <h4 style="font-weight: bold; text-align: center;">
            Facilities Requisition
          </h4>
        </div>
      </div>
      
      <div class="col-8">
        <div class="well rounded-rectangle align-items-center justify-content-end" style="height: 70px;padding: 10px;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-family: 'DM Sans', sans-serif">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 20px; color: #275382; font-family: 'DM Sans', sans-serif">
              @*<li class="nav-item">
                <form method="post">
                  <button type="submit" class="nav-link border-0 clickable-nav" role="link" style="margin-right: 5px"
                          asp-page-handler="Home">
                    Home
                  </button>
                </form>
              </li>*@
        
              @if (Model.UserType == "Super Administrator") {
                <li class="nav-item">
                  <form method="post">
                    <button type="submit" class="nav-link border-0 clickable-nav" role="link" style="margin-right: 5px"
                            asp-page-handler="ManageUserAccount">
                      <i class="bi bi-people" style="font-size: 23px"></i>
                      Users
                    </button>
                  </form>
                </li>
        
                <li class="nav-item">
                  <form method="post">
                    <button type="submit" class="nav-link border-0 clickable-nav" role="link" style="margin-right: 5px"
                            asp-page-handler="ManageOrganization">
                      <i class="bi bi-person-gear" style="font-size: 23px"></i>
                      Organizations
                    </button>
                  </form>
                </li>
              }
              else if (Model.UserType == "Organization Officer" || Model.UserType == "Faculty") {
                <li class="nav-item">
                  <form method="post">
                    <button type="submit" class="nav-link border-0 clickable-nav" role="link" style="margin-right: 5px"
                            asp-page-handler="ManageFacilityRequest">
                      <i class="bi bi-database-gear" style="font-size: 23px"></i>
                      Request a Facility
                    </button>
                  </form>
                </li>
                
                @* if (Model.UserType == "Organization Officer" || Model.UserType == "Faculty") { *@
                @*   <li class="nav-item"> *@
                @*     <form method="post"> *@
                @*       <button type="submit" class="nav-link border-0 clickable-nav" role="link" style="margin-right: 5px" *@
                @*               asp-page-handler=""> *@
                @*         Notifications *@
                @*       </button> *@
                @*     </form> *@
                @*   </li> *@
                @* } *@
              }
              else if (Model.UserType == "Administrator") {
                <li class="nav-item">
                  <form method="post">
                    <button type="submit" class="nav-link border-0 clickable-nav" role="link" style="margin-right: 5px"
                            asp-page-handler="ManageFacilityRequest">
                      <i class="bi bi-database-gear" style="font-size: 23px"></i>
                      Manage Facility Requests
                    </button>
                  </form>
                </li>
                
                <li class="nav-item">
                  <form method="post">
                    <button type="submit" class="nav-link border-0 clickable-nav" role="link" style="margin-right: 5px"
                            asp-page-handler="HistoryFacilityRequest">
                      <i class="bi bi-database-down" style="font-size: 23px"></i>
                      History of Facility Requests
                    </button>
                  </form>
                </li>

                              @* if (Model.UserType == "Organization Officer" || Model.UserType == "Faculty") { *@
                              @*   <li class="nav-item"> *@
                              @*     <form method="post"> *@
                              @*       <button type="submit" class="nav-link border-0 clickable-nav" role="link" style="margin-right: 5px" *@
                              @*               asp-page-handler=""> *@
                              @*         Notifications *@
                              @*       </button> *@
                              @*     </form> *@
                              @*   </li> *@
                              @* } *@
              }
              
            </ul>
        
            <form method="post">
              <div class="form-group">
                <li class="nav-item dropdown list-unstyled" style="font-size: 20px">
                  <a class="nav-link dropdown-toggle clickable-nav" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill" style="font-size: 23px"></i>
                    @Model.Name
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item">@Model.UserType</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <a class="dropdown-item" href="/Users/ViewDetails?id=@Model.UserInfo">View Profile</a>
                    <button type="submit" class="dropdown-item" asp-page-handler="Logout">Logout</button>
                  </ul>
                </li>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <div class="col-2">
        <div class="well rounded-rectangle" style="height: 70px; margin-right: 5px; margin-left: 5px; padding-top: 20px; padding-bottom: 20px; padding-right: 10px; padding-left: 10px">
          <h4 align="center" class="time" id="time" style="font-weight: bold"></h4>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="well flex-grow-1" style="margin: 5px 25px 5px 25px">
    @RenderBody()
  </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>