@page
@model FacilitiesRequisition.Pages.AdministratorRoles.DeleteModel

@{
    ViewData["Title"] = "Delete Adminstrator Roles";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #EEEEEE">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-8 rounded-rectangle">
                <h2>Delete administrator role</h2>
                
                <text>Are you sure you want to delete the selected administrator role "@Model.AdministratorRole.Position" for this user?
                    This cannot be undone.</text>
                
                <form method="post">
                    <br/>
                    <input type="hidden" asp-for="AdministratorRole.Id" />
                    <a class="btn btn-outline-primary" asp-page-handler="BackToIndex">Go back</a>
                    <input type="submit" value="Delete administrator role" class="btn btn-primary"/>
                </form>
            </div>
        </div>    
    </div>
</body>
</html>
