@page
@model FacilitiesRequisition.Pages.Shared._NavigationBarModel


@{
    ViewData["Title"] = "Dashboard";
    Layout = "_NavigationBar";
}

<main>
    <div class="container-fluid">
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4 mb-4">
                    <div class="card rounded-rectangle">
                        <div class="card-body">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text">Card Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="rounded-rectangle">
            <div class="row mt-4">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Facility Requested</th>
                                <th>Name</th>
                                <th>Number of Days</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 5; i++)
                            {
                                <tr>
                                    <td>Value 1</td>
                                    <td>Value 2</td>
                                    <td>@i days</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</main>