@page
@model FacilitiesRequisition.Pages.Dashboard.IndexModel

@{
    ViewData["Title"] = "Dashboard";

}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #eeeeee">

<nav class="navbar fixed-top navbar-expand-md bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Facilities Requisition</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Request Papers</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            testDropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      
      <form method="post">
        <div class="form-group">
          <span class="navbar-text">
            <text>@Model.Name | @Model.UserType | </text>
            <text id="time" class="vertical-line"></text>
          </span>
          @if (Model.UserType == "Administrator") {
            <input type="submit" value="Create new account" class="btn btn-outline-primary" asp-page-handler="CreateAccount"/>
          }
          <input type="submit" value="Logout" class="btn btn-primary" asp-page-handler="Logout"/>
        </div>
      </form>
      
    </div>
  </div>
</nav>
</body>
</html>