@page
@model FacilitiesRequisition.Pages.RequestFacility.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FacilityRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateFiled" class="control-label"></label>
                <input asp-for="DateFiled" class="form-control"/>
                <span asp-validation-for="DateFiled" class="text-danger"></span>
                <br/>
            </div>
            
            <div class="form-group mt-2">
                <label class="control-label">Requester</label>
                <select asp-for="OrganizationId" asp-items="Model.Organizations" class="form-control mt-1"></select>
                <span asp-validation-for="OrganizationId" class="text-danger mt-1"></span>
            </div>

            <div class="form-group">
                <label asp-for="NameActivity" class="control-label"></label>
                <input asp-for="NameActivity" class="form-control" />
                <span asp-validation-for="NameActivity" class="text-danger"></span>
                <br/>
            </div>
            
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                <br/>
            </div>
            
            <div class="form-group">
                <label asp-for="StartDateRequested" class="control-label"></label>
                <input asp-for="StartDateRequested" class="form-control" />
                <span asp-validation-for="StartDateRequested" class="text-danger"></span>
                <br/>
            </div>
            
            <div class="form-group">
                <label asp-for="EndDateRequested" class="control-label"></label>
                <input asp-for="EndDateRequested" class="form-control" />
                <span asp-validation-for="EndDateRequested" class="text-danger"></span>
                <br/>
            </div>
            
            <div class="form-group">
                <label asp-for="VenueRequested" class="control-label"></label>
                <input asp-for="VenueRequested" class="form-control" />
                <span asp-validation-for="VenueRequested" class="text-danger"></span>
                <br/>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

